body {
    background-color: #1e1e1e;
    color: white;
    font-family: 'Minecraft', sans-serif;
    text-align: center;
}

.container {
    width: 85%;
    max-width: 900px;
    margin: 40px auto;
    padding: 40px;
    border-radius: 12px;

    background: url("/minecraft-blocks-5120x2880-23838.jpg") center/cover no-repeat;
    backdrop-filter: blur(6px);
    box-shadow: 0 0 20px #000;
    border: 4px solid #3e6b2d;
    background-blend-mode: saturation;
    display: block;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

p {
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 20px;
}

button, a.home-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #2d2d2d;
    border: 3px solid #3e6b2d;
    padding: 12px 25px;
    margin: 10px;
    font-size: 20px;
    font-family: 'Minecraft', sans-serif;
    cursor: pointer;
}

button:hover, a.home-btn:hover {
    background-color: #3e6b2d;
    color: black;
}
