.navbar {
    width: 100%;
    padding: 20px 0;
    background-color: #3c3c3c;
    border-bottom: 4px solid #2a2a2a;

    display: flex;
    justify-content: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 17.5px;
    padding: 6px 20px;
    text-shadow: 2px 2px #000;
    border-radius: 4px;
    transition: 0.1s;
}

.navbar ul li a:hover,
.navbar ul li a.active {
    background-color: #5a8e3e;
    border: 2px solid #3e6b2d;
}
