body {
    background-color: #1e1e1e;
    color: white;
    font-family: 'Minecraft', sans-serif;
    text-align: center;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 12px;

    background: url("/minecraft-blocks-5120x2880-23838.jpg") center/cover no-repeat;
    backdrop-filter: blur(6px);
    box-shadow: 0 0 20px #000;
    border: 4px solid #3e6b2d;
    background-blend-mode: saturation;
    display: block;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

input, button {
    font-family: 'Minecraft', sans-serif;
    font-size: 18px;
    padding: 10px;
    margin: 8px;
    background-color: #2d2d2d;
    color: white;
    border: 3px solid #3e6b2d;
    outline: none;
}

input {
    width: 230px;
}

button {
    cursor: pointer;
}

#tableContainer {
    margin-top: 25px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.6);
}

th, td {
    padding: 10px;
    border: 2px solid #3e6b2d;
}

th {
    background-color: #2d2d2d;
    font-size: 20px;
}

td {
    font-size: 18px;
}
